<div class="form-detail-card">
  <div class="example2">
    <form>

      <div class="edit-box w-90">
        <label class="cst-bid-label">Name</label>
        <input type="text" id="cardHolderName" class="input empty" name="cardHolderName" placeholder="Name">
      </div>

      <div class="edit-box w-90">
        <label class="cst-bid-label">Card number</label>
        <div type="text" name="cardNumber" placeholder='xxxx - xxxx - xxxx - xxxx' class="input" id="card-number"></div>
      </div>
      <div id="card-number-error-message"></div>
      <div class="edit-box w-90">
        <label class="cst-bid-label">Expiry date</label>
        <div id="card-expiry" class="input" name="cardName"></div>
      </div>
      <div id="card-expiry-error-message"></div>
      <div class="edit-box w-90">
        <label class="cst-bid-label">CVV</label>
        <div id="card-cvc" class="input" name="cardExpiry"></div>
      </div>

      <div id="card-cvv-error-message"></div>

      <div class="mt-3">
        <button type="submit" data-tid="elements_examples.form.pay_button" class="btn btn-primary btn-blue">Submit
          Payment</button>
      </div>

    </form>
  </div>
</div>